#sideNav{
    width: 250px;
    height: 100vh;
    display:block;
    position:fixed;
    right: 0;
    top:0;
    background: green;
    z-index:2;
    margin:0;
    padding:0;
    border-radius: 15px;
}
#sideNav ul li{
    list-style: none;
    margin:50px 20px;
}
#sideNav ul li a{
    text-decoration: none;
    color:white;
    font-size:20px;

}
ul{
    padding:0;
}
@media screen and (max-width:700px) {
.MuiSvgIcon-root{
    color:white;
    margin: 0px 10px;
}
}