.like_P{
    width: 50px;
}
.dropdown{
    position: absolute;
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
}